body{
    margin:0;
    width :100%;
}
.img-fond{
    background-image: url(img/train.png);
}


header{
    background-color: #FF2459;
    padding: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

#logo{
    max-width: 75px;
    max-height: 100px;
}

section#sec-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:  #333;
    margin-left: 600px;
    margin-right: 80px;
}
nav a{
    text-decoration: none;
    color : white;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
   }

.navbar a:hover{
    background-color : #111;
    height: 100%;
}

.navbar{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.active {
    background-color: #4CAF50;
}

.main{
    height: 800px;
}