body{
    margin:0;
    background-image: url(../img/fond-train.jpg);
    width :100%;
}
header{
    background-color: #FF2459;
    margin: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#logo{
    max-width: 75px;
    max-height: 100px;
}

#menu {
    width: 50px;
    height: 50px;
    padding-right: 15px ;
}

/* main */
.main{
    height: 100vh;
    backdrop-filter: blur(5px);
    margin-bottom: -50px ;
}


section.all-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

section.filtres {
    width: 40%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section.allfiltre {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.2em 0;
    width: 100%;
}

input[type=text]:focus {
    border: 3px solid #555;
  }

  input[type=text]{
    background-color: #adadad;
  }

  input[type=date]{
    background-color: #adadad;
  }

.top-button {
    background-color: #0a0a23; 
    border: none;
    color: white;
    padding: 10px 44px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px 5px 5px 5px;
  }

/* input  */
form{
    display : flex;
    justify-content: space-around;
}

label{
    color:black;
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.5em;
}

#dep{
    margin-bottom: 15px;
}

#datedep{
    margin-bottom: 15px;
}

.all-input{
    display: flex;
    flex-direction: column;
}

.form__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
}

.train-button{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article{
    font-size: 16px;
    border-radius: 80px;
    font-size: 1.2rem;
    background-color: #625959; 
    border: none;
    color: white;
    padding: 10px 54px;
    width : 40%;
    display : flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

article:first-of-type{
    margin-top: 20px;
}
article img{
    width : 110px;
    height: 80px;
}
.depart{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrivee{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more-button{
    border-radius: 8px;
    background-color: #0a0a23;
    color: white;
    border : none;
    margin-bottom: 10px;
    padding: 10px 90px;
    margin-top: 10px;
}

.price{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reserver{
    border-radius: 15px;
    padding: 10px 20px;
    background-color: #c4aead;
    border: 0;
    margin-top: 5px;
}

button{
	cursor: pointer;
}