body{
    margin:0;
    width :100%;
}

header{
    background-color: #FF2459;
    padding: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

#logo{
    max-width: 75px;
    max-height: 100px;
}

/* main */
.main{
    height: auto;
}

section.filtres {
    width: 40%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section.allfiltre {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.2em;
    width: 100%;
}


.top-button {
    background-color: #0a0a23; 
    border: none;
    color: white;
    padding: 10px 44px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px 5px 5px 5px;
  }

/* footer */
footer{
	background-color :#333;
	display: flex;
	justify-content: center;
}

footer *{
	color: #ebf7f3
}

.hr{
	border: 1px solid #87d0bc ;
}

footer>section{
	width: 80%;
}

.lien section {
    flex-direction: column;
    display: flex;
}
section.lien {
    display: flex;
	width: 90%;
    justify-content: space-between;
}
.av-lien{
	display: flex;
	justify-content: center;
}

section.lien a {
    margin-bottom: 7px;
    text-decoration: none;
}

button{
	cursor: pointer;
}