@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    margin: 0;
    width: 100%;
    background-color:lightgrey;
}

header {
    background-color: #FF2459;
    padding: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#logo {
    max-width: 75px;
    max-height: 100px;
}

section#sec-nav {
    display: flex;
    justify-content: center;
    width: 60%;
    background-color: #333;
}

nav a {
    text-decoration: none;
    color: white;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a:hover {
    background-color: #111;
    height: 100%;
}

.navbar {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


section .monBoutton {
    background-color: rgb(248, 245, 245);
    Color: black;
    font-weight: bold;
    padding: 10px 60px;
    border-radius: 130px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 grey;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 35px;
}

section#login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.active {
    background-color: #4CAF50;
}

/* main */
.main {
    height: 100vh;
    width: 100%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#page {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
span{
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight:500;
    font-size:150%;;
}
#login-regis{
    justify-content: center;
    display: flex;
    align-items: center;
}

input{
    margin-bottom: 10px;
    padding: 5px;
    width:200px
}

#login-page{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

#register-page{
    display: flex;
    flex-direction: column;
}

.tonBoutton:last-of-type {
    background-color: #ff3b3b;
    Color:white;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 30px;
    cursor: pointer; 
    box-shadow: 0 8px 16px 0 grey;
    text-decoration: none;
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}


/* footer */
footer {
    background-color: #333;
    display: flex;
    justify-content: center;
}

footer * {
    color: #ebf7f3
}

.hr {
    border: 1px solid #87d0bc;
}

footer>section {
    width: 80%;
}

.lien section {
    flex-direction: column;
    display: flex;
}

section.lien {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.av-lien {
    display: flex;
    justify-content: center;
}

section.lien a {
    margin-bottom: 7px;
    text-decoration: none;
}

button {
    cursor: pointer;
}