body{
    margin:0;
    width :100%;
}
header{
    background-color: #FF2459;
    margin: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#logo{
    max-width: 75px;
    max-height: 100px;
}

#menu {
    width: 50px;
    height: 50px;
    padding-right: 15px ;
}

/* main */

#main{
    height: 100vh;
}


/* dégradé zone */
#carte{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    height: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#cartevir{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    height: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.span-block{
    margin-top: 5px;
    margin-bottom: 25px;
    font-weight: 600;
}

.commonpay{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.espace{
    margin-bottom: 5px;
}

/* taille img */
#carte img{
    height: 50px;
    width : 80px;
}

#cartevir img{
    height: 65px;
    width : 80px;
}



/* footer */
footer{
	background-color :#333;
	display: flex;
	justify-content: center;
}

footer *{
	color: #ebf7f3
}

.hr{
	border: 1px solid #87d0bc ;
}

footer>section{
	width: 80%;
}

.lien section {
    flex-direction: column;
    display: flex;
}
section.lien {
    display: flex;
	width: 90%;
    justify-content: space-between;
}
.av-lien{
	display: flex;
	justify-content: center;
}

section.lien a {
    margin-bottom: 7px;
    text-decoration: none;
}

button{
	cursor: pointer;
}