body{
    margin:0;
    width :100%;
}
header{
    background-color: #FF2459;
    margin: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#logo{
    max-width: 75px;
    max-height: 100px;
}

#menu {
    width: 50px;
    height: 50px;
    padding-right: 15px ;
}

/* main */

#main{
    height: 100vh;
}

span:first-of-type{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#carte{
    
    background: #c859ff;
    background: -moz-linear-gradient(45deg, #c859ff 0%, #ffab8c 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #c859ff), color-stop(100%, #ffab8c));
    background: -webkit-linear-gradient(45deg, #c859ff 0%, #ffab8c 100%);
    background: -o-linear-gradient(45deg, #c859ff 0%, #ffab8c 100%);
    background: -ms-linear-gradient(45deg, #c859ff 0%, #ffab8c 100%);
    background: linear-gradient(45deg, #c859ff 0%, #ffab8c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c859ff', endColorstr='#ffab8c', GradientType=1 );
    height: 50%;
    margin-top: 20px;
    
}

#cartevir{
    background: #c859ff;
    background: -moz-linear-gradient(45deg, #c859ff 0%, #ffab8c 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #c859ff), color-stop(100%, #ffab8c));
    background: -webkit-linear-gradient(45deg, #c859ff 0%, #ffab8c 100%);
    background: -o-linear-gradient(45deg, #c859ff 0%, #ffab8c 100%);
    background: -ms-linear-gradient(45deg, #c859ff 0%, #ffab8c 100%);
    background: linear-gradient(45deg, #c859ff 0%, #ffab8c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c859ff', endColorstr='#ffab8c', GradientType=1 );
    height: 50%;
}

.moyen-payement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#carte img{
    height: 50px;
    width : 80px;
}